{% extends 'infinite/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About Rango
{% endblock %}

{% block body_block %}
<div class="mainpage">
    <ul class="game_list">
        <li><h1 class="add_category_title">This project is the IT team coursework of Glasgow University in 2020-2021.</h1></li>
        <li><p class="change_down">This is a game category website for game developers and players published by</p></li>
        <li><p class="change_down">Yifan ZHANG</p></li>
        <li><p class="change_down">Zhuo Wang</p></li>
        <li><p class="change_down">Zhihan Liu</p></li>
        <li><p class="change_down">Jihua Tian</p></li>
    </ul>
{% endblock %}