{% extends 'infinite/base.html' %}
{% load staticfiles %}

{% block title_block %}
Add a Category
{% endblock %}
{% block body_block %}
<div class="mainpage">
    <ul class="game_list">
        <li><h1 class="add_category_title">Add a Category</h1></li>
        <form id="category_form" method="post" action="{% url 'infinite:add_category' %}">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}
                <li><a class="add_category_content">{{ field.help_text }}</a></li>
                <li class="add_category_error">{{ field.errors }}</li>
                <li><a class="add_category_text">{{ field }}</a></li>
            {% endfor %}
            <li><a class="add_category_button"><input type="submit" name="submit" value="Create Category" /></a></li>
        </form>
    </ul>
</div>
{% endblock %}