<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head lang="en">
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="{% static "js/jquery-3.3.1.min.js" %}" crossorigin="anonymous"></script>
        <script src="{% static "js/infinite-ajax.js" %}" crossorigin="anonymous"></script>
    
        <title> Iinfinite -
            {% block title_block %}
            What you love is your life
            {% endblock %}
        </title>
        <link rel="stylesheet" href="{% static 'style/reset.css' %}">
        <link rel="stylesheet" href="{% static 'style/home.css' %}">
    </head>
    
    <body>
        <header>
            <ul class="nav">
                <li class="left"><img src="{% static 'images/infinite.jpg' %}" alt="Picture of infinite" /></li>
                <li class="left"><a class="navtext" href="{% url 'infinite:index' %}">Home</a></li>
                <li class="left"><a class="navtext">Category</a>
                    <ul class="down1">
                        {% for category in categories %}
                        <li class="down2"><a class="navtext" href="{% url 'infinite:show_category' category.slug %}">{{ category.name }}</a></li>
                        {% endfor %} 
                        {% if user.is_authenticated %}
                        <li class="down2"><a class="navtext" href="{% url 'infinite:add_category' %}">Add a New Category</a></li>
                        {% endif %}
                    </ul>
                </li>
                {% if user.is_authenticated %}
                <li class="right"><a class="navtext" href="{% url 'infinite:myaccount' %}">My Account</a></li>
                <li class="right"><a class="navtext" href="{% url 'auth_logout' %}">Log out</a></li>
                {% else %}
                <li class="right"><a class="navtext" href="{% url 'auth_login' %}">Login</a></li>
                {% endif %}
            </ul>
        </header>
        <main>

            {% block body_block %}
            {% endblock %}

    
        </main>
    
        <footer>
            <ul class="nav">
                <li class="right"><a class="navtext" href="{% url 'infinite:about' %}">About</a></li>
            </ul>
        </footer>
    </body>
</html>
