{% extends 'infinite/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Homepage
{% endblock %}

{% block body_block %}
        <h1>Welcome to Infinity!</h1>
        <div>
            What you love is your life.<br />
        </div>
        <div>
            <h2>Categories</h2>
        {% if categories %}
            <ul>
            {% for category in categories %}
                <li>
                    <a href="{% url 'infinite:show_category' category.slug %}">{{ category.name }}</a>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}
        </div>
        <div>
            <h2>Top games</h2>
            {% if games %}
             <ul>
                {% for game in games %}
                <!-- <li><a href="{{ page.url }}">{{ page.title }}</a></li> -->
                <li><a href = "{% url 'infinite:show_game' game.category.slug game.slug%}"> <img width="50%" height="50%" src='/media/{{game.picture}}'  alt="{{ game.name }}" /></a></li>
                
                {{ game.name }}
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no pages present.</strong>
        {% endif %}
        </div>
{% endblock %}
