{% extends 'infinite/base.html'%}
{% load staticfiles %}

{% block title_block %}
    Search
{% endblock %}

{% block body_block %}
<div class="mainpage">
    <h1 class="category_name">Search with infinite</h1>
    <hr/>
    <ul class="game_list">
        {% if result_list %}
        {% for result in result_list %}
        <li ><a class="game_img_list" href = "{% url 'infinite:show_game' result.category.slug result.slug%}"> <img width="200px" height="150px" src='/media/{{result.picture}}'  alt="{{ result.name }}" /></a></li>
        <li ><a class="game_name_list" href = "{% url 'infinite:show_game' result.category.slug result.slug%}">{{ result.name }}</a></li>
        <li ><hr class="game_hr_list" /></li>
        {% endfor %}
        {% else %}
        <li ><a class="game_add_game">Sorry, no pages found for query!</a></li>
        {% endif %}
        <li ><hr class="game_hr_list" /></li>
        <li><a class="game_add_game" href="{% url 'infinite:index' %}">Go back to home</a></li>

    </ul>
</div>

{% endblock %}